section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border-radius: 4px;
    align-items: center;
    border: 1px solid #DDDDDD;
    display: flex;
}

div.locations, div.amenities {
    height: 100%;
    width: 25%;
    padding: 0 30px;
}

div.locations {
    border-right: 1px solid #DDDDDD;
}

h3 {
    font-weight: 600;
    margin: 10px 0px 0px 0px;
}

h4 {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}

.btn {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
}

.btn-filters {
    margin-left: auto;
    margin-right: 30px;
}

.btn-filters:hover {
    opacity: 90%;
}
